body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f2f5;
}

header{
    font-size: 19px;
    text-align: center;
    color: white;
    background-color: #1a73e8;
    padding: 20px;
}

article {
    max-width: 400px;
    margin: 18% auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}


article {
    display: block;
    margin-bottom: 6px;
    color: #5f6368;
}

.nombres,
.Correos {
    width: 100%;
    padding: 8px;
    border: 1px solid #dadce0;
    border-radius: 4px;
    font-size: 16px;
}

.btn {
    background-color: #1557b0;
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
